.container{
    flex: 2;
    margin-top: 60px;
}

.subtitle{
    color: gray;
    font-size: 16px;
    font-weight: 400;
}
.title{
    font-size: 28px;
}

.items{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 35px;
    margin-bottom: 60px
}

.item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.imageContainer{
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
}

.image{
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;
}

.textContainer{
    flex: 4;
    display: flex;
    flex-direction: column;
}

.categoryList{
    display: flex;
    flex-direction: column;
}

.categoryItem{
    padding: 10px 25px;
    border-radius: 10px;
    font-size: 14px;
    width: max-content;
}

.categoryItem.style {
    background-color: #57c4ff31;
  }
  
  .categoryItem.fashion {
    background-color: #da85c731;
  }
  
  .categoryItem.food {
    background-color: #7fb88133;
  }
  
  .categoryItem.travel {
    background-color: #ff795736;
  }
  
  .categoryItem.culture {
    background-color: #ffb04f45;
  }
  
  .categoryItem.coding {
    background-color: #5e4fff31;
  }

.category{
    padding: 3px 8px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    width: max-content;
}

.category.travel{
    background-color: #ff7857;
}

.category.style{
    background-color: #57c4ff31;
}

.category.fashion {
    background-color: #da85c731;
  }
  
  .category.food {
    background-color: #7fb88133;
  }
  
  .category.culture {
    background-color: #ffb04f45;
  }
  
  .category.coding {
    background-color: #5e4fff31;
  }

.postTitle{
    font-size: 18px;
    font-weight: 500;
    color: var(--softTextColor);
}

.detail{
    font-size: 12px;
}

.date{
    color: gray;
}

@media screen and (max-width: 1024px) {
  .container{
      display:none;
  }
}